@import '../../utils/mixins.scss';

.header {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header_logo {
  height: 48px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #c0c0c0;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.burger-menu span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.burger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
